@import "./config";

.root {
  position: absolute;
  width: 72px;
  height: 72px;
  right: 50px;
  top: 200px;  
  background: $uiWhiteColor;
  color: $uiFontColor;
  font-size: $uiFontSize;
  font-family: $uiFontFamily;
  line-height: 16px;
  &, * {
    box-sizing: border-box;
  }    
}