$contentDefaultIndent: 8px;
$uiBorderRadius: $contentDefaultIndent / 2;
$fullWidth: 100%;
$transitionDuration: 0.15s;
$uiComponentDisabledOpacity: 0.5;
$uiFontSize: 12px;
$uiFontFamily: "Roboto", sans-serif;
$uiWhiteColor: #fff;
$uiNeutralColor: #becad6;
$uiMediumDarkColor: #8c96a0;
$uiDarkColor: #666979;
$uiFontColor: #17191c;
$uiBlackColor: #000;
$uiPrimaryColor: #0267d4;
$uiHighlightColor: #0267d4;
$uiAlternativeColor: #7502d4;
$uiAccentColor: #e24e45;
$uiPositiveColor: #12ab6b;
$uiNegativeColor: #e24e45;
$uiWarningColor: #ffad31;
$uiBorderColor: #eaebee;
$uiSpecialColor: #9845f7;
$uiPlaceholderColor: #9496a2;
$uiBackgroundColor: #f6f6f9;
$uiOverlayColor: #003166;
