@import "./config";

#booke-extension {
  position: absolute;
  width: 72px;
  height: 72px;
  right: 50px;
  top: 200px;  
  background: #FFFFFF;
  &, * {
    box-sizing: border-box;
  }
  .Main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(158, 162, 171, 0.2);
    border-radius: 50%;
    border: 1px solid #EAEBEE;
    svg {
      width: 27px;
    }
    &:hover {      
      box-shadow: 0 5px 20px rgba(158, 162, 171, 0.3);
    }
  }
  .Preloader {
    $animationDuration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $uiPrimaryColor;
    font-size: 12px;
    &.absolute,
    &.fixed {
      z-index: 9;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($uiWhiteColor, 0.4);
    }
    &.absolute {
      position: absolute;
    }
    &.fixed {
      position: fixed;
    }
    .animation {
      position: relative;
      span {
        display: inline-block;
        width: $contentDefaultIndent;
        height: $contentDefaultIndent;
        animation: booke-ext-flashing $animationDuration infinite linear alternate;
        border-radius: 50%;
        background-color: currentColor;
        + span {
          margin-left: $contentDefaultIndent / 2;
          animation-delay: $animationDuration / 2;
          + span {
            animation-delay: $animationDuration;
          }
        }
      }
    }
  }
  .Dashboard {
    position: absolute;
    top: 0;
    right: 0;
    width: 332px;
    min-height: 260px;
    background: $uiWhiteColor;
    border: 1px solid $uiBorderColor;
    box-shadow: 0 5px 20px rgba(158, 162, 171, 0.2);
    border-radius: $uiBorderRadius;
  }
}

@keyframes booke-ext-flashing {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0.1;
  }
}